In [1]:
import pandas as pd 

bike_df = pd.read_csv('./datasets/bikerental.csv')
bike_df.head(3)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32

In [2]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [3]:
bike_df.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

In [8]:
#feature label 분리
features = bike_df.loc[:, ['season', 'holiday','workingday','weather','temp','atemp','humidity','windspeed']]
label = bike_df['count']

In [12]:
# train_test_split 
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features,label, test_size=0.2, random_state=42)

In [20]:
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
X_train = std.fit_transform(X_train)
X_test = std.fit_transform(X_test)

In [21]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

## 하이퍼파라미터 gridsearchcv
param = {'max_depth':[6,8,10,12],
        'n_estimators':[100],
        'min_samples_leaf':[8,12,18],
        'min_samples_split':[8,16,20]}

rf_clf = RandomForestRegressor(random_state=156,n_jobs=-1)
grid_cv = GridSearchCV(rf_clf,param_grid=param,cv=2,scoring='neg_mean_squared_error',n_jobs=-1)
grid_cv.fit(X_train,y_train)
best_dt = grid_cv.best_estimator_

In [22]:
from sklearn.svm import SVR
svr = SVR()
pram = {'C':[1,10],
       'epsilon':[0.1,0.2,0.3]}
grid = GridSearchCV(svr,param_grid=pram,cv=2,scoring="neg_mean_squared_error")
grid.fit(X_train,y_train)
best_regressor = grid.best_estimator_

In [18]:
from sklearn.metrics import mean_squared_error

results_dt = best_dt.predict(X_test)
results_svr = best_regressor.predict(X_test)

print(f'랜덤포레스트 mse : {mean_squared_error(y_test, results_dt, squared=False)}')
print(f'SVM mse : {mean_squared_error(y_test, results_svr, squared=False)}')

랜덤포레스트 mse : 144.7753446844551
SVM mse : 157.64549941380326

In [27]:
import numpy as np
data = np.array([3.0 ,  0  ,  1,  3, 3.0 ,2.0 , 93.0 , 6.0]).reshape(-1,1)
data
# best_dt.predict(data)

array([[ 3.],
       [ 0.],
       [ 1.],
       [ 3.],
       [ 3.],
       [ 2.],
       [93.],
       [ 6.]])

In [30]:
best_dt.predict(np.array([[3.0 ,  0  ,  1,  3, 3.0 ,2.0 , 93.0 , 6.0]]))

array([209.25202718])