In [22]:
import pandas as pd 
boston_df = pd.read_csv('./datasets/Boston.csv' ,index_col=0)

boston_df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [23]:
features = boston_df.drop(columns='medv' , axis=1)
label = boston_df['medv']

In [24]:
features.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [25]:
label.head()

1    24.0
2    21.6
3    34.7
4    33.4
5    36.2
Name: medv, dtype: float64

In [26]:
from sklearn.model_selection import train_test_split

X_train ,  X_test , y_train, y_test = train_test_split(features,label, test_size=0.2, random_state=42)

In [27]:
from sklearn.preprocessing import MinMaxScaler

X_train_scaled = MinMaxScaler().fit_transform(X_train)
X_test_scaled = MinMaxScaler().fit_transform(X_test)

In [28]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error


li_rgr = LinearRegression()
li_rgr.fit(X_train,y_train)
li_boston_pred = li_rgr.predict(X_test)
li_boston_pred

print("mse : ",mean_squared_error(y_test,li_boston_pred), "mae : ",mean_absolute_error(y_test,li_boston_pred))
print("ì ˆíŽ¸ê°’",li_rgr.intercept_,"íšŒê·€ ê³„ìˆ˜ê°’",li_rgr.coef_)

mse :  24.291119474973538 mae :  3.1890919658878416
ì ˆíŽ¸ê°’ 30.24675099392349 íšŒê·€ ê³„ìˆ˜ê°’ [-1.13055924e-01  3.01104641e-02  4.03807204e-02  2.78443820e+00
 -1.72026334e+01  4.43883520e+00 -6.29636221e-03 -1.44786537e+00
  2.62429736e-01 -1.06467863e-02 -9.15456240e-01  1.23513347e-02
 -5.08571424e-01]

In [29]:
features.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat'],
      dtype='object')

In [30]:
pd.DataFrame(li_rgr.coef_ , index=features.columns )

                 0
crim     -0.113056
zn        0.030110
indus     0.040381
chas      2.784438
nox     -17.202633
rm        4.438835
age      -0.006296
dis      -1.447865
rad       0.262430
tax      -0.010647
ptratio  -0.915456
black     0.012351
lstat    -0.508571

In [31]:
X_train = X_train.drop(columns='nox' ,axis=1)
X_test = X_test.drop(columns='nox' ,axis=1)
li_rgr.fit(X_train,y_train)
li_boston_pred = li_rgr.predict(X_test)
print("mse : ",mean_squared_error(y_test,li_boston_pred), "mae : ",mean_absolute_error(y_test,li_boston_pred))
print("ì ˆíŽ¸ê°’",li_rgr.intercept_,"íšŒê·€ ê³„ìˆ˜ê°’",li_rgr.coef_)

mse :  25.348503470941406 mae :  3.1304385330123505
ì ˆíŽ¸ê°’ 17.94164144427709 íšŒê·€ ê³„ìˆ˜ê°’ [-0.10378849  0.03457988 -0.03375854  2.4688605   4.58465619 -0.02041385
 -1.20135165  0.2275268  -0.01233988 -0.71347374  0.01302048 -0.53551391]